.card:hover
{
    box-shadow: 0 0.4rem 1rem rgb(2, 48, 71) !important;
    transition: all 0.5s linear;
}

.card-title
{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #FB8500;
}

.btn:hover
{
    background-color: #219EBC;
    color: #fff;
    transition: all 0.3s linear;
}

.overflow-hidden
{
    overflow: hidden;
}

.card-img-top:hover
{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.btn:hover
{
    background-color: #219EBC !important;
    color: #fff;
    border: #219EBC !important;
    transition: all 0.3s linear;
}

.btn:visited
{
    background-color: #219EBC !important;
    color: #219EBC;
    border: #219EBC !important;
}